# Python-related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
ENV/
.env

# IDE-related
.idea/
.vscode/
*.swp
*.swo

# OS-related
.DS_Store
Thumbs.db

# Streamlit-specific
.streamlit/

# Application-specific
*.log
*.db
*.sqlite3
temp/
data/
config.ini
secrets.json

# Code files - ensure no actual code is committed
*.py
*.ipynb
requirements.txt
Pipfile
Pipfile.lock
setup.py

# Exceptions for mockups or documentation
!.github/workflows/*.yml
